/* Define um estilo para a classe .cabecalho */
.cabecalho {
    text-align: center; /* Alinha o texto ao centro */
    font-size: 0.8; /* Define o tamanho da fonte como 0.8 (verifique se é a unidade correta, como "em" ou "rem") */
    font-weight: bold; /* Define a fonte como negrito */
    letter-spacing: 0.3; /* Define o espaçamento entre letras como 0.3 (verifique a unidade, como "em" ou "px") */
    background-color: #8832a2; /* Define a cor de fundo como #8832a2 */
    margin: auto; /* Define margens automáticas */
}

/* Define um estilo para a classe .cabecalho-logo */
.cabecalho-logo {
    padding: 1px; /* Define o preenchimento de 1 pixel */
    width: 430px; /* Define a largura como 430 pixels */
}

/* Define um estilo para a classe .cabecalho-menu */
.cabecalho-menu {
    padding: 10px; /* Define o preenchimento de 10 pixels */
    display: flex; /* Aplica um estilo flexível */
    justify-content: space-evenly; /* Justifica o conteúdo com espaçamento uniforme */
    flex-wrap: wrap; /* Permite que o conteúdo quebre para a próxima linha quando não couber */
    background-color: #fafafa; /* Define a cor de fundo como #fafafa */
}

/* Define um estilo para a classe .cabecalho-item-menu */
.cabecalho-item-menu {
    display: inline-block; /* Define como bloco em linha */
}

/* Define um estilo para links dentro da classe .cabecalho-item-menu */
.cabecalho-item-menu a {
    display: inline-block; /* Define como bloco em linha */
    padding: 5px 5px; /* Define o preenchimento de 5 pixels nas laterais e 5 pixels na parte superior e inferior */
    color: black; /* Define a cor do texto como preto */
    text-decoration: none; /* Remove o sublinhado */
}

/* Define um estilo para links dentro do cabeçalho quando o mouse está sobre eles */
header a:hover {
    color: #8832a2; /* Muda a cor do texto para #8832a2 */
    transform: scale(1.05); /* Aplica uma escala de 1.05 para dar um efeito de aumento */
}

/* Define um estilo para um pseudo-elemento ::after de links dentro do cabeçalho quando o mouse está sobre eles */
header a:hover::after {
    width: 100%; /* Define a largura como 100% */
}
