body {
  background-color: #000000;
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }

  25% {
    border-color: #8832a2;
  }

  50% {
    border-color: transparent;
  }

  75% {
    border-color: #8832a2;
  }

  100% {
    border-color: transparent;
  }
}

.linha-foto {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  margin-bottom: 20px;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 100%;
}

.box2 img {
  max-width: 65%;
}

.titulo-inicio {
  display: grid;
  grid-template-columns: 2fr;
  text-align: center;
  font-family: "Helvetica", "Lucida Grande", sans-serif;
  color: #fafafa;
  font-size: 20px;
  margin-top: 50px;
}

.texto-inicio {
  display: grid;
  grid-template-columns: 2fr;
  text-align: justify;
  font-family: "Helvetica", "Lucida Grande", sans-serif;
  color: #fafafa;
  font-size: 20px;
  padding: 1.5em;
  padding-bottom: 55px;
}

@media (min-width: 768px) {
  .linha-foto {
    grid-template-columns: 2fr 1fr;
  }
}

.responsive-gif {
  width: 100%;
  height: auto;
}

.banner-full-width {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#back-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #dd64d7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
}

#back-to-top-button:hover {
  background-color: #8832a2;
}