
    .rodape {
        overflow: inherit;
        box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
        text-align: center;
        border-radius: 1rem;
        position: absolute; /* Mude para 'absolute' */
        left: 30%; /* Move o elemento para o centro horizontalmente */
        transform: translate(-50%, -50%); /* Centraliza completamente o elemento */
        margin-top: 500px;
      }
      

.main {
    display: grid;
    place-items: center;
    width: 190px;
    height: 254px;
    margin-bottom: 80px;
}
.card {
    width: 130px; /* Reduza a largura desejada */
    height: 180px; /* Reduza a altura desejada */
    background: 	#111111;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px; /* Adicione o raio do arredondamento desejado aqui */
}





.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-avatar {
    background: radial-gradient(#A8A6B6, #B3B1BF, #BDBBC7, #C5C4CE, #E2E2E7);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform .2s ease;
}

.card-avatar svg {
    padding-top: 5px;
    height: 80px;
    width: 100px;
    fill: #515F65;
}

.card-social {
    display: flex;
    justify-content: space-around;
    width: 190px;
    margin-top: 10%;
    text-align: center;
}

.card-social-icon {
    list-style: none;
    color: #515F65;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-social-icon svg {
    display: block;
    height: 20px;
    width: 20px;
    fill: #ffffff;
    cursor: pointer;
}

.card-title {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 5px;
}

.card-subtitle {
    color: #ffffff;
    font-size: 1.0em;
}

.contact-title {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 45%;
    padding-bottom: 25px;
    margin-left: 30px;
}

.card-contact {
    color: #ffffff;
    font-size: 0.7em;
}

.icon-contact {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 15px;
}

.icon-contact svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #ffffff;
    padding-right: 5px;
}

.card:hover {
    box-shadow: 0 10px 50px #9932cc;
}

.card:hover .card-info {
    transform: translateY(-5%);
}

.card-avatar:hover {
    transform: scale(1.1);
}

#cs1:hover {
    transform: scale(2.0);
}

#cs2:hover {
    transform: scale(2.0);
}

#cs3:hover {
    transform: scale(2.0);
}

.main:hover #c1 {
    transform: translateX(0px);
}

.main:hover #c2 {
    transform: translateX(200px);
}

.rounded-avatar {
    width: 100px; /* Largura do círculo */
    height: 100px; /* Altura do círculo */
    border-radius: 50%; /* Define a borda como um círculo */
    overflow: hidden; /* Certifica-se de que a imagem não ultrapasse o círculo */
}

.rounded-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para preencher o círculo mantendo sua proporção */
}

@media (min-width: 768px){
    .rodape{
        overflow: inherit;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem;
  margin-top: 500px;
  left: 50%; /* Move o elemento para o centro horizontalmente */
  display: flex; /* Transforma o elemento .rodape em um container flex */
  justify-content: space-evenly; /* Distribui os itens uniformemente com espaço entre eles */
    }
    .card {
        width: 190px;
        height: 254px;
        background: 	#111111;
        padding: 2rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
        display: flex;
        flex-direction: column;
        position: absolute;
        border-radius: 10px; /* Adicione o raio do arredondamento desejado aqui */
    }

}

  
  