/* Importa a fonte "Inter" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* Define variáveis de cores usando CSS Custom Properties (variáveis) */
:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

/* Estilos globais para todos os elementos HTML */
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/* Estilos para a seção principal */
main {
    flex: 1;
    margin: 5%;
}

/* Estilos para o corpo (body) da página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estilos para o rodapé */
footer {
    color: var(--color-neutral-40);
    background-color: var(--color-neutral-10);
    padding: 1.5rem 3.5rem; /* Espaçamento interno do rodapé */
}

/* Estilos para o conteúdo dentro do rodapé */
#footer_content {
    background-color: var(--color-neutral-10);
    display: flex;
    justify-content: space-between;
    padding: 3rem 3.5rem;
}

/* Ajusta as configurações de grade para os elementos filhos dentro do rodapé */
#footer_content .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    flex: 1; /* Ocupa o espaço disponível */
}

/* Estilos para os cabeçalhos dentro do rodapé */
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

/* Estilos para os ícones de mídia social no rodapé */
#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

/* Estilos para os links da lista no rodapé */
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

/* Estilos para a seção de inscrição no rodapé */
#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

/* Estilos para o grupo de entrada de texto no rodapé */
#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

/* Estilos para o aviso de direitos autorais no rodapé */
#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
    footer {
        padding: 1rem; /* Reduz o padding em telas menores */
    }
    #footer_content {
        flex-direction: column; /* Altera a direção da flexbox para empilhar elementos verticalmente */
        gap: 2rem;
    }
}

/* Media query para telas menores que 426px */
@media screen and (max-width: 426px) {
    footer {
        padding: 0.5rem; /* Reduz ainda mais o padding em telas muito pequenas */
    }
}

/* Estilos para ícones de contato */
.icon-contact {
    list-style: none;
    display: flex;
    align-items: normal;
}

.icon-contact svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #ffffff;
    padding-right: 5px;
}

/* Estilos para elementos com a classe 'nome' */
.nome {
    display: grid;
    text-align: justify;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #fafafa;
    font-size: 10px;
    margin-top: 20px;
}

/* Estilos para elementos com a classe 'nome2' */
.nome2 {
    display: grid;
    text-align: justify;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #fafafa;
    font-size: 15px;
}

/* Estilos para elementos com a classe 'imgFooter' */
.imgFooter {
    margin-top: 1%;
}
    